* {
  border: 2px;
  border-style: solid;
  border-color: green;
  padding: 0px;
  margin: 0px;

}

.calculator-box{
    width: 400px;
    height: 500px;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px;
    border-style: solid;
    border-color: hotpink;
}

@media screen and (max-width: 700px){

    .calculator-box{
        width: 300px;
        height: 375px;
    }
}

.content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 100%;
}

.content-box{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 75%;
    
}

#clear{

    grid-column-start: 1;
    grid-column-end: 3;
    
}

#zero{
    grid-column-start: 1;
    grid-column-end: 3;
}

.display{
    position: relative;
    width: 100%;
    height: 25%;
    background-color: yellow;
}

#display-content{
    float: right;
    text-align: right;
    height: 100%;
    width: 50px
}